html {
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    background-color: #292424;
    color: #ffffff;
}
body {
    margin: 0;
    padding: 0;
    text-shadow: #000000 1px 1px 2px;
}
main {
    padding-top: 25px;
    margin: 0;
}
.main-single-column {
    display: inline-block;
    column-count: 1;
}
header {
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
}
h1 {
    margin: 0;
    padding-top: 45px;
    font-size: 2rem;
    text-shadow: 2px 2px 4px #000000;
}
.navigation-bar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0;
    margin: 0;
}
ul {
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    padding: 1px;
    display: inline-block;
}
li a {
    display: block;
    color: #ffffff;
    border: solid #ffffff 1px;
    border-radius: 5px;
    padding: 8px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #292424;
}
.active {
    background-color: #292424;
}
.sub-header {
    padding: 10px;
    margin: 0;
}
section {
        display: inline-block;
}
.column-paragraph {
    padding: 15px;
    margin: 10px;
    border: solid #ffffff 1px;
    border-radius: 10px;
    background-color: #000000;
    box-shadow: #000000 10px 10px 20px;
}
.bottom-footer {
    padding: 0;
    margin: 0;
    background-color: #000000;
    margin-top: auto;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: #000000 10px 10px 20px;
}
@media (max-width: 480px) {
    main {
        column-count: 1;
        font-size: 24px;
        padding: 5px;
        margin: 0;
    }
}
@media (min-width: 481px){
    main {
        column-count: 1;
        font-size: 22px;
        padding: 10px;
        margin: 0;
    }
}
@media (min-width:992px) {
    main {
        column-count: 3;
        font-size: 20px;
    }
}
@media (min-width:1200px) {
    main {
        max-width: 1200px;
        display:inline-block;
    }
}